---
layout: default
---

<div id="overlay">
    <div class="project__video">
        <i class="fas fa-play fa-5x" data-toggle="modal" data-target="#projectModal"></i>
        <video autoplay loop playsinline muted preload poster src="{{page.clip2}}"></video>
    </div>
</div>

<div class="project__content">
    <div class="project__content--logo">
        <img src='/assets/img/brick-cloud-outline.png'>
    </div>
    <div class="project__content--text">
        <h1>{{page.title}}</h1>
        <h2>{{page.subtitle}}</h2>
    </div>
    <div class="project__content--stills">
        <img src="{{page.img1}}">
        <img src="{{page.img2}}">
        <img src="{{page.img3}}">
        <img src="{{page.img4}}">
    </div>
    <div class="project__content--presser">
        <div class="presser__item">
            <video src="{{page.clip3}}" type="video/mp4" autoplay autoloop muted>
        </div>
        <div class="presser__item">
            <h3>{{page.details}}</h3>
            {% if page.desc %}
                <hr>
                <p>{{page.desc}}</p>
            {% endif %}
            {% if page.press %}
                <hr>
                <a href="{{page.press}}">
                    <p>Press</p>
                </a>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-splash" role="document">
        <div class="modal-content modal-content-splash">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="modaliframe" src="{{page.embed}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

